@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.active {
  text-decoration: underline;
  color: #632ee3;
}